.navbar {
  width: 80%;
  margin: auto;
  border-radius: 0.5em;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
  font-weight: 800;
}
