html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li,
img {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  /* remove blud borders when clicking a tag in mobile end*/
  text-decoration: none;
  color: white;
}
